STELLAR_NETWORK=testnet
HORIZON_URL=https://horizon-testnet.stellar.org
SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
GOVERNANCE_CONTRACT_ID=
ESCROW_CONTRACT_ID=
TOKEN_CONTRACT_ID=
IDENTITY_CONTRACT_ID=
ADMIN_SECRET_KEY=
SEP10_SIGNING_KEY=
SEP10_WEB_AUTH_DOMAIN=clinicaldao.local
API_PORT=8000
